table{
    border: 1px solid;
    width: 200;
    height: 200;
    background-color: rgba(64, 26, 114, 0.8);
    
}
#right{
    text-align: center;
}
@keyframes slidein{
    from{
        margin-left: 100%;
        width: 0px;
        height: 0px;
    }
    to{
        margin-left: 0%;
        width: 500px;
        height: 500px;
    }
}
div{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 2px solid;
    background:linear-gradient(cornflowerblue,green);
    background:radial-gradient(cornflowerblue,green);
    animation-duration: 3s;
    animation-name:slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}